{% extends "navbar-layout.html" %}
{% load static %}
{% block content %}

<main class="feed-wrapper">
    <div class="flex-item">

        <div>
            <p>L1</p>
        </div>
    
        <!-- CREATE POST -->
        <div>        
            <div class="create-post">
                <form method="POST" enctype="multipart/form-data" action="{% url 'upload_files' %}">
                    {% csrf_token %}
                    <textarea name="content" placeholder="What’s on your mind?"></textarea>
                    <div class="file-upload">
                        <label for="fileInput" class="upload-btn">📷 Add Photo</label>
                        <input type="file" id="fileInput" name="image" onchange="document.querySelector('.file-name').textContent = this.files[0] ? this.files[0].name : 'No file chosen'">
                        <span class="file-name">No file chosen</span>
                    </div>
                    <button type="submit">Post</button>
                </form>
            </div>
            
            <!-- POSTS -->
            <div class="posts-container">
                {% for post in posts %}
                <div class="post-card">
                    <div class="icon-end">
                        <div class="div-1">
                            <p class="username">{{ post.user.username }}</p>
                            <p class="content">{{ post.content }}</p>
                        </div>

                        <div class="div-2" style="position: relative;">
                            {% if post.user == request.user %}
                            <button class="openModal"
                                style="background: transparent; color: rgb(114, 114, 114); border: none; font-size: 1.3rem;">
                                <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                            </button>
                            
                            <div class="post-modal" style="position: absolute; top: 35px; right: 0; background: #1e1e1e; border-radius: 12px; padding: 10px 0; width: 180px; display: none; flex-direction: column; box-shadow: 0 4px 10px rgba(0,0,0,0.3);"> 
                                <a href="{% url 'edit' post.id %}" style="color: white; text-decoration: none;display: flex; align-items: center; gap: 10px; padding: 12px 16px;">
                                    Edit
                                    <!-- <ion-icon class="icons" name="create-outline"></ion-icon> -->
                                </a>

                                <a href="{% url 'delete' post.id %}" style="color: white; text-decoration: none; display: flex; align-items: center; gap: 10px; padding: 12px 16px;">
                                    Delete
                                    <!-- <ion-icon class="icon-2" name="trash-outline"></ion-icon> -->
                                </a>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                        
                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="post">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div>
            <p>L3</p>
        </div>

    </div>
</main>

<script>
const buttons = document.querySelectorAll(".openModal");

buttons.forEach(button => {

    button.addEventListener("click", () => {

        const modal = button.nextElementSibling;

        if(modal.style.display === "flex"){
            modal.style.display = "none";
        }else{
            modal.style.display = "flex";
        }

    });

});

</script>
{% endblock %}

<!-- <script src="{% static 'js/edit.js' %}"></script> -->