{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <title>Mini LinkedIn</title>
</head>
<body>

<!-- NAVBAR -->
<section>
    <div>
        <h3>Mini Linkedin</h3>
        <form>
            <input type="search" placeholder="Search">
        </form>
    </div>

    <div>
        <a href="#">Home</a>
        <a href="#">Network</a>
        <a href="#">Jobs</a>
        <a href="#">Messages</a>
        <a href="#" class="profile-link"><img src="{% static 'images/rahul.jpg' %}" alt="profile" class="profile-img"></a>
        <button id="darkToggle" class="toggle"><span class="icon">🌙</span></button>
        <a href="{% url 'logout' %}"><ion-icon class="icon" name="log-out-outline"></ion-icon></a>
    </div>
</section>

<!-- CONTENT AREA -->
<main>
    {% block content %}
    {% endblock %}
</main>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>