{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Signup</title>
</head>
<body>
    <section>
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="username" id="username" required placeholder="Username">
                <input type="email" name="email" id="email" required placeholder="Email">
                <input type="password" name="password" id="password" required placeholder="Password">
                <input type="password" name="confirm-password" id="confirm-password" required placeholder="Conferm Password">
                <button type="submit">Signup</button>
            </form>
        </div>

        <div>
            {% for message in messages %}
                {% if message %}
                  {{message}}
                {% endif %}
            {% endfor %}
        </div>
    </section>
</body>
</html>