{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Signin</title>
</head>
<body>
    <section>
        <div class="login">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="username" id="username" required placeholder="Username">
                <input type="password" name="password" id="password" required placeholder="Password">
                <button class="btn-1" type="submit">Submit</button>
            </form> 
            <a class="btn-2" href="{% url 'signup' %}">Create an Account</a>
        </div>
            {% for message in messages %}
                {% if message %}
                  {{message}}
                {% endif %}
            {% endfor %}
    </section>
</body>
</html>